*.rbc
*.sassc
.sass-cache
.project
capybara-*.html
.rspec
.rvmrc
/.bundle
/config/mongoid.yml
/vendor/bundle
/vendor/plugins
/app/assets/images/tmp-*
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/c/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*.swp
*.watchr
.DS_Store
*~
tags
.gitconfig
